.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }

.text-rrc {
	text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 10px 0 10px 0;
  background:#DDDDDD;
}

.section {
	border-bottom: 1px solid;
}

.corner {
	float: right;
	margin-left: 5px;
}

.logo-imperio {
  border: 0;
  width: 215px;
  margin: -18px -10px -2px -6px;
  height: 76px;
}

.navbar-inverse {
	background-color: #E9409F;
	border-color: #E9409F;
	height: 70px;
}

.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 20px;
}

ul.nav-tabs {
	width: 215px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}